<app-header></app-header>
<section class="flex pt-4 justify-content-center gap-5">
  <button (click)="getAllProducts(-9)" class="inline-block" pButton type="button" label="Previous page"></button>
  <button (click)="getAllProducts(9)" class="inline-block" pButton type="button" label="Next page" class="p-button-secondary"></button>
</section>
<div class="grid gap-6 justify-content-center p-5">
  <div *ngFor="let product of products; index as i" class="p-4 col-3 shadow-1">
    <div class="grid">
      <div class="col-12">
        <img class="w-full" [src]="product.images[1]" [alt]="product?.title">
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <span class="font-bold text-lg">{{product.title}}</span>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <span class="description font-light text-lg">{{product.description}}</span>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <span class="font-bold text-primary text-xl">${{product.price}}</span>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <p-button [routerLink]="[product.id]" label="VIEW DETAIL"></p-button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>