<div class="test grid p-0 m-0">
  <div class="col-12 lg:col w-full flex justify-content-center align-items-center">
    <img src="../../../assets/logos/logo-nexsys.png" height="140">
  </div>
  <div
    class="col-12 lg:col w-full flex pl-4 flex flex-column justify-content-center align-items-center lg:align-items-start">
    <span class="text-5xl text-black-alpha-90">Follow Us</span>
    <div class="flex w-full justify-content-center lg:justify-content-start">
      <a class="bg-black-alpha-90 mr-2 p-2 border-circle">
        <i class="icon icon-logo-facebook text-4xl no-underline text-white"></i>
      </a>
      <a class="bg-black-alpha-90 mr-2 p-2 border-circle">
        <i class="icon icon-logo-twitter text-4xl no-underline text-white"></i>
      </a>
      <a class="bg-black-alpha-90 mr-2 p-2 border-circle">
        <i class="icon icon-logo-instagram text-4xl no-underline text-white"></i>
      </a>
      <a class="bg-black-alpha-90 mr-2 p-2 border-circle">
        <i class="icon icon-logo-linkedin text-4xl no-underline text-white"></i>
      </a>
      <a class="bg-black-alpha-90 mr-2 p-2 border-circle">
        <i class="icon icon-logo-youtube text-4xl no-underline text-white"></i>
      </a>
    </div>
  </div>
</div>