// Import icomoon
@import url(./assets/icomoon/style.css);
@import '~primeicons/primeicons.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif !important;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

